.color_tags.oferta {
    margin: 400px 40px 0 0;
}

.color_tags .oferta_check {
    vertical-align: middle;
}

.color_tags .oferta_error {
  color: red;
}

#create {
    border-style: outset;
}

#create:active{
    border-style: inset;
}