<div class = "color_tags oferta">
    <input type= "checkbox" name= "oferta_check" />
    <label for = "oferta_check" class = "oferta_title">Подтвердите согласие на передачу данных аккаунта на сторонний сервер.</label>
    <div class = "oferta_error hidden" >Необходимо подтвердить согласие.</div>
</div>