<div>
    <div class="create">
        <h3>Установить Правило</h3>
        <input type="text" name="rule">
        <input type="color" name="color">
        <a class="create_button" href="#">Установить</a>
    </div>

    <div>
        <h3>Установленные правила</h3>
    </div>
</div>