<div>
    <h3 class="textH3">Установить Правило</h3>
        <div class="createRules">
            <input class="createRules_text" type="text" name="rule">
            <input class="createRules_color" type="color" name="color">
            <a class="createRules_button" href="#">Установить</a>
        </div>


    <div class="establishedRules">
        <h3 class="textH3">Установленные правила</h3>
        <div class="container">
            {% for name in result %}

                <div class="container_element">
                    {% for key, value in name %}

                        {% if key != "color" %}

                            <p class="ruleElement">{{ value }}</p>

                        {% else %}

                            <div style="background: {{ value }}" class="colorElement"></div>

                        {% endif %}

                        <a href="#" class=""></a>

                    {% endfor %}

                </div>

            {% endfor%}
        </div>




       <!-- {% include "./templates/establishedRules.twig" with result %} -->
    </div>
</div>